/*** preloader ***/
.preloader-enc{
    width:100%;
    height: 200px;
    display: block;
    margin:200px auto;
}
.preloader{
    margin: 10px auto;
    width:50px;
    height:50px;
    border-radius:100%;
    display: block;
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;    
    animation: spin 1s infinite linear;
    transition: ease-out;
    transition-duration: 1s;
}
.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
    
    
  }
  .star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
  }
input[type="checkbox"]{
    outline: none;
}
.enc{
    padding:10px;
    width:250px;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.main-content{
    display: none;
    transition: ease-out;
    padding-top: 150px;
    transition-duration: 1s;
}
.item-img{
    max-width: 100%;
}
.item-name{
    font-weight: bold;
    font-size: 25px;
    color: rgb(32, 32, 32);
}
a{
    outline: none;
    border: none;
    text-decoration: none !important;
}
.product-enc{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:600px) {
    .product-enc{
        flex-direction: column-reverse;
    }
    .reviews-enc{
        width: 100% !important;
    }
    .ratings-enc{
        width: 100% !important;
        align-items: flex-start !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:800px) {
    .reviews-enc{
        width: 60%;
    }
    .ratings-enc{
        width: 40% !important;
        align-items: flex-start !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:300px) {
    .hide-image{
        display: none !important;   
    }
}
.reviews-enc{
    width:70%;
    display: flex;
    flex-direction: column;
}
.pills{
    display: flex;
    flex-direction: row;
}
.pill{
    cursor: pointer;
}
@media only screen and (max-width:310px) {
    .pill{
        max-width: 100px;
        font-size: 14px;
    }
}
.ratings-enc{
    width:30%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.rating{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
}
.active{
    background-color: rgb(245, 135, 51) !important;
}

.review-enc-header{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.reviews{
    padding-top: 10px;
}
.review{
    display: flex;
    flex-direction: row;
}
.review-img{
    width: 100px;
}
.review-text{
    font-size: 14px;
}
.card{
    margin-bottom: 20px;
}
.fa-thumbs-up{
    float: right;
    color: rgb(32, 199, 32);
}
.fa-thumbs-down{
    float: right;
    color: rgb(214, 48, 48);
}

.switch{
    transition: ease-in;
    transition-duration: 0.5s;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.trating-tool-enc{
    padding-left: 20px;
}
.orating-tool-enc{
    padding-left: 20px;
}
.hide-emotion{
    top:-250px;
}
